<div class="container p-4">
    <div class="row">
      <div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
           <div class="card">
               <div class="card-bady">
                   <img src="/images/brazil.jpg" alt="logo veterinaria" class="card-img-top mx-auto m-2 rounder-circle w50"/>
                  
                       <div class="form-group">
                         <h2>Hueco</h2>
                       </div>
                     
                       <div class="form-group">
                           <label>No puedes ir a esta seccion porque estas logueado, para ir cierra sesion</label>
                           <a href="/admin/adminprincipal" class="btn btn-info">ir a admin</a><br><br>
                          
                       </div>
            
               
                     
               </div>
           </div> 
        </div>
    </div>
</div>