<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            {{#each info1}}
            <h1>{{titulo1}}</h1>
            <h3 class="mb-5">
                <em>{{titulo2}}</em>
            </h3>
            <a href="/clinica/servicios" class="btn btn-primary">
                {{titulobutton1}}
            </a>
            {{/each}}
        </div>
    </header>
</main>