<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1>Bienvenido a la veterinaria myDogs</h1>
            <h3 class="mb-5">
                <em>vea nuestros servicios</em>
            </h3>
            <a href="#" class="btn btn-primary">
                vea nuestros servicios
            </a>
        </div>
    </header>
</main>