<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/images/icono.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Veterinaria myDogs
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Clinica
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/clinica/nosotros">Nosotros</a>
                        <a class="dropdown-item" href="/clinica/servicios">Servicios</a>
                        <a class="dropdown-item" href="/clinica/instalaciones">Instalaciones</a>
                        <a class="dropdown-item" href="/clinica/ubicacion">Ubicacion</a>
                        <a class="dropdown-item" href="/clinica/conctacto">Conctacto</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mascota
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"><h6>PERROS</h6></a>
                        <a class="dropdown-item" href="/articulos/articulos_perros">Articulos</a>
                        <a class="dropdown-item" href="/informacion/informacion_perros">¿Sabias que...</a>
                        <a class="dropdown-item" href="#"><h6>GATOS</h6></a>
                        <a class="dropdown-item" href="/articulos/articulos_gatos">Articulos</a>
                        <a class="dropdown-item" href="/informacion/informacion_gatos">¿Sabias que...</a>
                        <a class="dropdown-item" href="#"><h6>MASCOTAS NO TRADICIONALES</h6></a>
                        <a class="dropdown-item" href="/articulos/articulos_mascota_no_tradicional">Articulos</a>
                        <a class="dropdown-item" href="/informacion/informacion_mascota_no_tradicional">¿Sabias que...</a>
                    </div>
                </li>

                {{#if usuario}}
                <li class="nav-item">
                    <a class="nav-link" href="/admin/adminprincipal">Admin</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Citas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Registrar cita</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="btn btn-outline-success  my-2 my-sm-0" href="/authentication/login" tabindex="-1"
                        aria-disabled="true">Ingresar</a>
                </li>
                {{/if}}
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-success my-2 my-sm-0" href="/logout">Cerrar sesion</a>
                </li>

            </ul>
        </div>
    </div>
</nav>