<center>
    <h3>¡Bienvenido Admnistrador! {{usuario.nombre}} {{nombres}}</h3>
</center>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-center border-success">
                <img src="/images/veterinario.png" class="card-img-top" height="200px">
                <div class="card-footer border-success">
                    <small class="text-muted"><a href="/admin/ver_usuarios" class="btn btn-success">Usuarios</a></small>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center border-success">
                <img src="/images/equipo.jpg" class="card-img-top" height="200px">
                <div class="card-footer border-success">
                    <small class="text-muted"><a href="/admin/ver_empleados" class="btn btn-success">Empleados</a></small>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center border-success">
                <img src="/images/productos.jpg" class="card-img-top"  height="200px">    
                <div class="card-footer border-success">
                    <small class="text-muted"><a href="/productos/ver_productos" class="btn btn-success">Productos</a></small>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center border-success">
                <img src="/images/imagen5.jpg" class="card-img-top" height="200px">
                <div class="card-footer border-success">
                    <small class="text-muted"><a href="/proveedores/ver_proveedores" class="btn btn-success">Proveedores</a></small>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center border-success">
                <img src="/images/icono1.png" class="card-img-top"  height="200px">
                <div class="card-footer border-success">
                    <small class="text-muted"><a href="/pedidos/ver_pedidos" class="btn btn-success">Pedidos</a></small>
                </div>
            </div>
        </div>
    </div>
</div>