<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
           <div class="card">
               <div class="card-bady">
                   <form action="" method="post">
                       <div class="form-group">
                         <h2>Registro-ADMIN</h2>
                       </div>
                       <div class="form-group">
                           <label>usuario</label>
                           <input class="form-control" type="text" name="usuario" id="">
                       </div>
                       <div class="form-group">
                           <label>Clave</label>
                           <input class="form-control" type="text" name="clave" id="">
                       </div>
                       <div class="form-group">
                           <label>Nombres</label>
                           <input type="text" name="nombres" placeholder="aqui van los nombres" id="">
                       </div>
                       <div class="form-group">
                           <label>Apellidos</label>
                           <input type="text" name="apellidos" placeholder="aqui van los apellidos" id="">
                       </div>
                       <div class="form-group">
                           <label>fecha de nacimiento</label>
                            <input type="date" name="fechanacimiento">
                       </div>
                       <div class="form-group">
                           <label>fecha de creacion del usuario</label>
                            <input type="date" name="fechacreacion">
                       </div>

                       <div class="form-group">
                           <button type="submit" class="btn btn-warning btn-block">Enviar</button>
                       </div>
                   </form>
               </div>
           </div> 
        </div>
    </div>
</div>